
.container {
  background-color: rgba(0, 0, 255, 0.364);
  padding: 20px 0;
  margin-top: 40px;


.form_validate{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  

  form{
    padding: 15px 0;
    width: 90%;

    h2 {
      font-size: 18px;
      color: purple;
      text-align: center;
    }

    .inputContainer {
      margin-bottom: 20px;

      .error-message {
        display: none;
      }
        input, select {       
          width: 100%;
          padding: 5px 0 ;
          border-radius: 5px;
          outline: none;
          border: 1px solid #ccc;

          &:focus {
            border: 1px solid purple;
          }
          &:invalid[data-focus="true"] ~ .error-message{
            display: block;
            color: red;
          }
          &:invalid[data-focus='true']  {
            border: 1px solid red;
          }        
        }
      
        .showHide {
            position: relative;
            .btnShowHide {           
              background-color: blue;
              color: white;
              padding: 5px 8px;
              border-radius: 5px;
              border: 1px solid blue;
              cursor: pointer;
              position: absolute;
              right: -1px;
              top: 0;
            }       
        }
    }
    .checkboxLabel  input{
      margin-right: 5px;
    }

    .submit {
      background-color: blue;
      color: white;
      margin:  auto ;
      padding: 5px 5px;
      width: 100%;
      margin-top: 10px;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
    }
  }
}
}